body {
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

a {
  color: aquamarine;
}

h1 {
  color: aliceblue;
  font-size: 50px;
  font-weight: normal;
}